*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #CFBCDF;
    width: 100%;
}
.header {
    padding: 80px;
    text-align: center;
    background-image: url('Multimedia/foto\ esencias\ 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 80%;
    height: 300px;
    }
  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    color: #190B28;
}
.navbar{
    background-color: #FFDEAD;
    filter: brightness(100%);
    position:sticky;
    align-items: center;
    top: 0;
    width: 100%;
}
.navbar .nav-link{
    display: inline-flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    color: #626C66;
    padding: 14px 20px;
    text-decoration: none;
}
.box_nav{
    text-align: center;
}
/* Change color on hover */
.navbar .nav-link:hover {
    background-color: #ddd;
    color: black;
}
/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
/* Main column */
#backgroundUno,.main {     
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 20px;
    background-color: #CFBCDF;
}
/* Box Uno */
#boxPpal{
    border-radius: 3px;
}
#backgroundUno #boxPpal{
    width: 100%;
    height: auto;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #aaa;
    display: inline-flexbox;
    justify-content: left;
    border-radius: 15px;
}
#backgroundUno #boxPpal h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
    font-weight: bold;
}
#backgroundUno #boxPpal h5{
    font-size: 1.5rem;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
/* BOX DOS */
#backgroundDos, .main {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 20px;
    background-color: #CFBCDF;
}
#backgroundDos #boxSec{  
    width: 100%;
    height: auto;
    background-color: #aaa;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 15px;
    display: inline-flexbox;
    justify-content: left;
}
#backgroundDos #boxSec h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
    font-weight: bold;
}
/* Incluyendo Carrusel */
.box_slider {
    display: flexbox;
    text-align: center;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-left: 80px;
    margin-right: 80px;
}
#imagenCarrusel {
    vertical-align: middle;
    height: 150px;
    width: 150px;
}
#imagenGdeCarrusel {
    vertical-align: middle;
    height: 350px;
    width: 350px;
}
.container {
    position: relative;
}
  /* Hide the images by default */
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Six columns side by side */
.column {
    float: left;
    width: 24.96%;
}
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
.active, .demo:hover {
    opacity: 1;
}
/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/* Box Servicios */
#seccionServ, .main {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    padding: 20px;
    background-color: #CFBCDF;
}
#seccionServ #boxServ{  
    width: 100%;
    height: auto;
    background-color: #aaa;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 15px;
    display: inline-flexbox;
    justify-content: center;
}
#seccionServ #boxServ h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
    font-weight: bold;
}
#seccionServ #boxServ p{
    font-size: 1.5rem;
    text-align: center;
}
/* Quienes somos */
#seccionNos {
    background-image: url('Multimedia/foto\ esencias\ 3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#seccionNos .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
#seccionNos .title {
    color: grey;
    font-size: 18px;
}
#seccionNos button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
#seccionNos button a{
    color: white;
}
#seccionNos a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
#seccionNos button:hover, a:hover {
    opacity: 0.7;
}
.boxContCardAna{
    display: flex;
    flex-wrap: wrap;
}
.back-content-card{
    background-color: thistle;
}
/* Tienda de productos */
#tiendaProds{
    background-image: url('Multimedia/foto\ esencias\ 3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tiendaProds .imagen_prods:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
} 
#tiendaProds .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.box_texto_prods {
    background-color: #aaa;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}
#tiendaProds .price {
    color: grey;
    font-size: 22px;
}
#tiendaProds .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
#tiendaProds .card button:hover {
    opacity: 0.7;
}
/* Contacto */
#seccionContacto input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#seccionContacto input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#seccionContacto input[type=submit]:hover {
    background-color: #45a049;
}
#seccionContacto .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* Extras */
.box_titulos_pags {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #aaa;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 5px 0px 5px 0px;
}
/* Footer */
footer{    
    background-color: #FFDEAD;
    height: 80px;
    width: 100%;
    display: flexbox;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    bottom: 0;
}
footer li{
    text-decoration: none;
    list-style-type: none;
}
footer a {
    color: black;
}

/* Medias Queries */
/* Screen 1200px */
@media screen and (max-width: 1200px) {

}

/* Screen 1024px */
@media screen and (max-width: 1024px) {
    #backgroundDos #boxSec {
        display: none;
    }
}
/* Screen 768px */
@media screen and (max-width: 768px) {
    #contenedorNav .navbar .nav-link {
        display: flex;
        justify-items: center;
    }
    .row {  
        display: flex;
        flex-direction: column;
    }
    #tiendaProds .row{
        flex-direction: column;
    }
    #backgroundUno #boxPpal h2{
        font-size: 2rem;
    }
    #backgroundUno #boxPpal h5{
        font-size: 1,1rem;
    }
    #backgroundUno #boxPpal {
        height: auto;
    } 
    .box_slider{
        display: none;
    }
    #backgroundDos #boxSec {
        display: none;
    }
    .header h1 {
        font-size: 34px;
    }
}
/* Screen 400px */
@media screen and (max-width: 400px) {
    /* Contenedor nav  */
    #contenedorNav .navbar .nav-link {
        float: none;
        width: 100%;
    }
    /* Carrito de compras */
    #tiendaProds .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: center;
    }
    .row{
        flex-direction: column;
        }
    /* Pagina Principal */
    #backgroundDos #boxSec {
        display: none;
    }
    .box_texto_prods{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .header h1 {
        font-size: 32px;
    }
}
/* Screen 320px */
@media screen and (max-width: 400px)  {
    .header h1 {
        font-size: 30px;
    }
    #tiendaProds .box_titulos_pags h2 {
    font-size: 13px;
    }
}